body {
   background-color: black;
   font-family: "Libre Baskerville", serif;
   font-weight: 400;
   font-style: normal;
 }

h1 {
   text-transform: uppercase;
   font-size: 3rem;
}
 
.poster {
   width: 50%;
   margin-left: 25%;
   margin-top: 80px;
   color: white;
   text-align: center;
}

.destination {
   width: 100%;
   border: 5px solid white;
}

p {
   text-transform: capitalize;
}
